body {
    background: #222;
    color:	#fff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
}

img {margin-top: 88px;}

.heding {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;

}

p {
    text-align: center;
}